th:last-child,
td:last-child {
    position: sticky;
    right: 0px;
}

.tableFixHead {
    overflow: auto;
    max-height: 930px;
}
.tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}
.tableFixHead tfoot tr {
    position: sticky;
    bottom: 0;
    z-index: 1;
}
